.table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #eee;
  border-bottom: none;
  text-align: left;
  margin-bottom: 20px;
}

.cell {
  border-bottom: 1px solid #eee;
  color: #af8447;
  font-weight: 700;
  padding: 9px 24px;
}

.cell:first-child {
  width: 100px;
}
